<h1>Encode</h1>

<div class="mb-5">
  <app-input class="mb-4" [(textInput)]="textToEncode">
    Text to encode:
  </app-input>
  <button (click)="encode()" class="btn btn-primary mt-2">
    Encode text
  </button>
</div>

<div class="mb-5" *ngIf="encodedText">
  <app-output class="mb-4" [output]="encodedText">
    Encoded output
  </app-output>
</div>

<div class="mb-5">
  <app-visualization header="Encoding visualization" [visualizationSteps]="visualizationSteps"></app-visualization>
</div>




