<h1 class="mb-4">Szyfrowanie</h1>

<div class="card mb-5">
 <div class="card-body">
   <app-input [(textInput)]="textToEncode">
     Tekst do zaszyfrowania:
   </app-input>
   <app-input [(textInput)]="passwordKey" [removeWhitespaces]="true">
     Hasło:
   </app-input>
   <button (click)="encode()" class="btn btn-success mt-2">
     Szyfruj
   </button>
 </div>
</div>

<div class="card mb-5" *ngIf="encodedText">
 <div class="card-body">
   <div class="mb-5">
     <app-output [output]="encodedText">
       Zaszyfrowany tekst
     </app-output>
     <div class="custom-control custom-switch">
       <input type="checkbox" class="custom-control-input" id="visualize" [formControl]="visualizationControl">
       <label class="custom-control-label" for="visualize">{{visualizationControl.value ? 'Ukryj wizualizacje' : 'Pokaż wizualizacje'}}</label>
     </div>
   </div>
   <app-visualization
     *ngIf="visualizationControl.value"
     [visualizationSteps]="visualizationSteps">
   </app-visualization>
 </div>
</div>




