<div class="form-group">
  <label class="form-label">
    <ng-content></ng-content>
  </label>
  <textarea class="form-control"
            placeholder="Secret message"
            [formControl]="control">
  </textarea>
</div>

<div class="alert alert-danger mb-1" role="alert" *ngIf="control.errors?.pattern">
  Pole nie może zawierać znaków spoza alfabetu!
</div>
<div class="alert alert-info mb-1" role="alert" *ngIf="control.errors?.maxlength">
  Aplikacja ma na celu jedynie zaprezentowanie działania algorytmu i nie jest zoptymalizowana do działania dla dłuższych tekstów / haseł!
</div>
