
<div class="container mt-2">
  <div class="mb-5">
    <app-encode-input class="mb-4" [(textInput)]="textToEncode">
    </app-encode-input>
    <button (click)="encode()" class="btn btn-primary mt-2">
      Encode text
    </button>
  </div>

  <div class="mb-5" *ngIf="encodedText">
    <app-encode-output class="mb-4" [encodedText]="encodedText">
    </app-encode-output>
  </div>

  <div class="mb-5">
    <div class="mb-5">
      <button (click)="decode()" class="btn btn-primary mt-2">
        Decode text
      </button>
      <app-encode-output class="mb-4" [encodedText]="decodedText">
      </app-encode-output>
    </div>
  </div>

  <div class="mb-5">
    Steps
    <ul>
      <li *ngFor="let step of visualizationSteps">{{step.prevChar}} => {{step.nextChar}}</li>
    </ul>
  </div>

<!--  MatrixVisualization-->
<!--  <div class="mb-5" *ngIf="encodedText">-->
<!--    <div *ngFor="let level of matrix; let first = firs" class="row">-->
<!--      <ng-container *ngIf="first">-->
<!--        <div *ngFor="let char of level; let index = index">-->
<!--          {{index}}-->
<!--        </div>-->
<!--      </ng-container>-->

<!--      <div *ngFor="let char of level">-->
<!--        {{char}}-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
