<h1 class="mb-4">Decode</h1>

<div class="card mb-5">
  <div class="card-body">
    <div class="form-group">
      <app-input [(textInput)]="encodedText">
        Tekst do odszyfrowania:
      </app-input>
      <app-alphabet-controller></app-alphabet-controller>
    </div>
    <app-input [(textInput)]="passwordKey" [removeWhitespaces]="true">
      Hasło:
    </app-input>
    <button (click)="decode()" class="btn btn-success mt-2">
      Odszyfruj
    </button>
  </div>
</div>

<div class="card mb-5" *ngIf="decodedText">
  <div class="card-body">
    <div class="mb-5">
      <app-output [output]="decodedText">
        Odszyfrowany tekst:
      </app-output>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="visualize" [formControl]="visualizationControl">
        <label class="custom-control-label" for="visualize">{{visualizationControl.value ? 'Ukryj wizualizacje' : 'Pokaż wizualizacje'}}</label>
      </div>
    </div>
    <app-visualization
      *ngIf="visualizationControl.value"
      [mode]="true"
      [visualizationSteps]="visualizationSteps">
    </app-visualization>
  </div>
</div>
